div(class='form-group')
  input(id='email' class='form-control' type='email', name='email', placeholder='Enter email')
div(class='form-group')
  input(id='password' class='form-control' type='password', name='password', placeholder='Password')