div(class='form-group')
  input(id='email' class='form-control' type='email', name='email', placeholder='Email')
div(class='form-group')
  input(id='password' class='form-control' type='password', name='password', placeholder='Password')
div(class='form-group')
  input(id='confirm-password' class='form-control' type='password', name='confirm-password', placeholder='Confirm Password')