div(class='form-group')
  label(for='email') Email address
  input(id='email' class='form-control' type='email', name='email', placeholder='Enter email')
div(class='form-group')
  label(for='password') Password
  input(id='password' class='form-control' type='password', name='password', placeholder='Password')