append head
  link(rel="stylesheet" href="/stylesheets/footer.css")

footer(class="footer")
  div(class="page-width")
    p(class="authors")
      span
        ion-icon(name="code-working-sharp")
        |Created by 
        a(href="https://github.com/Austin-from-TX") Austin Howard, 
        a(href="https://github.com/BenBolthouse") Ben Bolthouse, 
        a(href="https://github.com/ThreedTX") Reed Norton, 
        |and  
        a(href="https://github.com/r-maloney") Ryan Maloney
    p(class="repo")
      span
        ion-icon(name="logo-github")
        a(href="https://github.com/BenBolthouse/nice-bytes")
          |https://github.com/BenBolthouse/nice-bytes