link(rel="stylesheet", href="/stylesheets/navbar.css")

header
  div(class="navbar page-width")
    div(class="navbar__brand")
      a(href="/")
        div(class="navbar__logo")
        span(class="navbar__name") NiceBytes
    - var isIdentity = user ? "no-stretch" : "stretch"
    div(class="navbar__links--" + isIdentity)
      ul
        if(user)
          li
            a(href='/collections') My collections
          li
            a(href='/logout') Log out
        else
          li
            a(href='/signup') Sign Up
          li
            a(href='/login') Log in
    if (user)
      div(class="navbar__user")
        p= user.email
        div(class="navbar__avatar")
          if(user.email)
            div=user.email.slice(0,1).toUpperCase()

