extends ./layout.pug

block content
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet")
  link(rel='stylesheet' href='/stylesheets/auth-splash.css')
  script(src="/javascripts/auth-splash.js")
  div(class="page")
    div(class="page-content page-width")
      div(class="auth-splash")
        div(class="auth-splash__panel-1")
          h1 Violá!
          p(class="sub-text") Local restaurants at your fingertips.
        div(class="auth-splash__panel-2")
          
          block form