extends layout.pug

append head
  link(rel="stylesheet", href="/stylesheets/collections.css")

block content
  div(class="collections-page__title")
    h1(class="page-width") My Collections
  div(class="collections-page__sidebar-container page-width")
    ul(class="sidebar")
      a(class="add" href="/collections/add")
        li
          div
            ion-icon(name="add-outline")
            p Add a new collection
      a(class="default" href=`/collections/${favorites.id}`)
        li(class="favorites")
          ion-icon(name="heart-outline")
          p Want To Visit
      a(class="default" href=`/collections/${visited.id}`)
        li(class="visited")
          ion-icon(name="restaurant-outline")
          p Have Visited
      if collections.length === 0
        li(class="no-custom")
          p You don't have any custom collections yet. Create one and it will show up in this list.
      else
        each col in collections
          a(class="custom" href=`/collections/${col.id}`)
            li=col.name
  div(class="page collections-page")
    div(class="collections-page__scrollable-container page-width")
      div(class="scrollable")

        include includes/collection.pug