extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  p Find your new favorite Spot
  if spots
  div(class='spot-list__container')
    each spot in spots
      ul(class='spot-list__box')
        div
          img(class= 'spot-list__img', src= `${spot.imgUrl}`)
        div(class= 'spot-list__name')= spot.name
        div(class= 'spot-list__description')= spot.description
