doctype html
html
  head
      block head
        title="Nice Bytes"
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet")
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/typography.css')
        link(rel='stylesheet' href='/stylesheets/site.css')
        script(src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js")
        script(src="/javascripts/webapi.js" content-type="text/javascript" type="module")
  body

    include includes/navbar.pug

    main
      block content

    include includes/footer.pug

