doctype html
html
  head
      block head
        title="Nice Bytes"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
  body
    header(id="global-header") 
      div(class="container")
        div(id="logo")
          a(href="/" id="logo-link") Nice Bytes
          //- Change text into image at some point 
        ul(id="nav-list") 
          li 
            a(href='/spots') Spots
          li 
            a(href='/collections') Collections
    div(id="main-container")
    block content
