
  div(class="errors")
  h2 Log In
  form(class="log-in")
  input(type='hidden' name='_csrf' value=csrfToken)
    include includes/authorization-fields
    button(id="log-in-button") Log In
      a(href="/sign-up") If you don't have an account -- sign up here!
