@keyframes submitting-icon-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.page {
  background-image: url('/images/restaurant-blue.jpg');
  background-size: cover;
}
.auth-splash {
  height: 100%;
}
.auth-splash__panel-1 {
  color: #ffffff;
  height: auto;
  max-width: 560px;
  margin: 0 auto;
  padding: 2rem 2rem 1.5rem;
  text-align: center;
}
.auth-splash__panel-1 h1 {
  font-family: 'Lobster', cursive;
  font-size: 10rem;
  margin-bottom: 2rem;
  text-shadow: 0.25rem 0.25rem 0 rgb(219, 13, 230),
    0.5rem 0.5rem 0 rgb(114, 13, 230), 0.75rem 0.75rem 0 rgb(71, 13, 230);
}
.auth-splash__panel-1 p {
  color: #ffffff;
  font-size: 1.5rem;
}
.auth-splash__panel-2 {
  background-color: #ffffff;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 3rem auto;
  margin: 0 auto;
  position: relative;
  min-height: 120px;
  max-width: 420px;
  overflow: hidden;
}
.auth-splash__submitting--hide,
.auth-splash__submitting--show {
  background-color: #fff;
  opacity: 0.75;
  position: absolute;
  z-index: 303;
  top: -6rem;
  right: 0;
  bottom: 0;
  left: -6rem;
}
.auth-splash__submitting--hide {
  display: none;
}
.auth-splash__submitting--show {
  display: block;
}
.auth-splash__submitting-icon {
  animation: submitting-icon-rotation 0.5s infinite linear;
  background-image: url('/images/spinner_96x96.svg');
  /* border-radius: 50%; */
  position: absolute;
  height: 6rem;
  width: 6rem;
  z-index: 304;
  top: 50%;
  left: 50%;
}
.auth-splash__tab--active,
.auth-splash__tab--inactive {
  display: block;
  line-height: 3rem;
  text-align: center;
}
.auth-splash__tab--inactive {
  background-color: #dddddd;
  color: #777777;
}
.auth-splash__form {
  grid-column: 1 / 3;
  padding: 2rem 2rem 2.5rem;
}
.auth-splash__form-group {
  position: relative;
}
#auth-splash__form-demo {
  grid-column: 1 / 3;
  color: #00b7ff;
  padding-top: 0rem;
  padding-bottom: 2.5rem;
  width: 100%;
  text-align: center;
}
#auth-splash__form-demo:hover {
  text-decoration: underline;
}
.auth-splash__validation-icon--invalid,
.auth-splash__validation-icon--valid {
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  top: 1.25rem;
  right: 0.75rem;
}
.auth-splash__validation-icon--invalid {
  color: rgb(214, 24, 59);
  font-size: 1.5rem;
}
.auth-splash__validation-icon--valid {
  background-color: greenyellow;
}
.auth-splash__form-messages--hide,
.auth-splash__form-messages--show {
  background-color: rgb(214, 24, 59);
  border-radius: 0.25rem;
  color: #ffffff;
  list-style: none;
  padding: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 3.5rem;
  z-index: 302;
}
.auth-splash__form-messages--hide li,
.auth-splash__form-messages--show li {
  font-size: 0.875rem;
  line-height: 1rem;
  padding-bottom: 0.25rem;
}
.auth-splash__form-messages--hide {
  display: none;
}
.auth-splash__form-messages--show {
  display: block;
}
.auth-splash__form label {
  position: absolute;
  color: #777777;
  font-weight: 600;
  font-size: 0.75rem;
  z-index: 301;
  top: 0.9rem;
  left: 0.87rem;
}
.auth-splash__form input {
  background-color: rgb(245, 245, 245);
  border: none;
  border-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-left: 2px solid #00b7ff;
  font-weight: 400;
  padding: 0.75rem 0.75rem 0;
}
.auth-splash__form button {
  display: block;
  margin: 2rem auto 0;
  border-radius: 0.25rem;
}
@media screen and (min-width: 1020px) {
  .auth-splash {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 15%;
  }
  .auth-splash__panel-1 {
    margin-right: 0;
  }
  .auth-splash__panel-2 {
    margin: 0;
  }
}
@media screen and (min-width: 1340px) {
  .auth-splash {
    grid-template-columns: 50% 50%;
  }
}
