.home-page h1 {
  color: #777777;
  margin: 4rem 0;
  text-align: center;
}
.spot-list {
  display: grid;
  grid-template-columns: auto auto;
  min-width: 480px;
}
.spot-list__item {
  grid-template: auto 3rem / 120px auto;
  background-color: #ffffff;
  border-radius: 0.25rem;
  display: grid;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  height: 120px;
  overflow: hidden;
  position: relative;
  margin: 0 0.5rem 1rem;
  transition: box-shadow 0.05s;
}
.spot-list__item img {
  display: block;
  position: absolute;
  height: 120px;
  width: 120px;
  object-fit: cover;
  z-index: 304;
}
.spot-list__item:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.spot-list__item-describe {
  display: grid;
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  grid-template-rows: 2rem 8rem 1.5rem;
  height: 100%;
  max-height: 240px;
  padding: 1.75rem 2rem;
  overflow: hidden;
}
.spot-list__item-describe a {
  height: 1.5rem;
  float: left;
}
.spot-list__item-describe h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  overflow-y: hidden;
}
.spot-list__item-description {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin: 1rem 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.spot-list__item-type {
  color: #777777;
  height: 1.5rem;
  line-height: 1.5rem;
  margin: 0;
}
.spot-list__item-controls {
  display: grid;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  grid-template-columns: auto 2rem auto;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 305;
}
.spot-list__item-controls .rating {
  display: grid;
  grid-template-columns: auto auto;
  grid-column: 2 / 3;
  align-items: center;
  color: rgb(255, 217, 66);
}
.spot-list__item-controls .rating span {
  font-size: 1.25rem;
  font-weight: 300;
}
.spot-list__item-controls .rating ion-icon {
  font-size: 1.25rem;
  margin-bottom: 3px;
}

@media screen and (min-width: 1020px) {
  .spot-list__item {
    grid-template-columns: 240px auto;
    height: 240px;
  }
  .spot-list__item img {
    height: 240px;
    width: 240px;
  }
}
