@font-face {
  font-family: "Kufam ExtraBold";
  src: url("./fonts/Kufam/static/Kufam-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Kufam Black";
  src: url("./fonts/Kufam/static/Kufam-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Kufam Regular";
  src: url("./fonts/Kufam/static/Kufam-Regular.ttf") format("truetype");
}

html {
  height: 100%;
}

h1 {
  color: #555555;
}

/* Removes a:link default css setting that underlines links. */
a:link {
  text-decoration: none;
}

.spot-list__img {
  height: 100px;
  width: 100px;
}

.spot-list__name {
  font-size: large;
}

.spot-list__container {
  display: flex;
}

.spot-list__box {
  display:
}

body {
  background-color: rgba(244, 241, 234, 0.5);
  height: 100%;
}

/* Nav Bar */

#global-header {
  position: fixed;
  width: 100%;
  background-color: #f4f1ea;
  height: 50px;
  border: 1px solid;
  border-left: hidden;
  border-right: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#logo {
  /* height: 100%; */
  margin: auto 15px;
  /* text-align: center; */
  /* width: 150px; */
}

#logo-image {
  margin-top: 2px;
  border-radius: 5px;
}

#nav-list li {
  display: flex;
  flex-direction: row;
  margin: auto 0px;
  padding: 0px 15px;
  border-left-style: solid;
  border-width: 1px;
}

li > li {
  border-left-style: solid;
  border-width: 1px;
}

#nav-list {
  display: flex;
  /* justify-content: space-between; */
}

/* Main Container */

#main-container {
  padding-top: 50px;
}
