header {
  background-color: rgb(17, 17, 17);
  color: #ffffff;
  position: absolute;
  z-index: 200;
  top: 0; right: 0; left: 0;
}
.navbar {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 4rem;
  padding: 1rem;
}
.navbar__brand a {
  display: grid;
  grid-template-columns: 2rem auto;
}
.navbar__logo {
  width: 2rem;
  height: 2rem;
}
.navbar__name {
  font-size: 18px;
  letter-spacing: .1rem;
  line-height: 2rem;
  padding-left: 1rem;
}
.navbar__links ul {
  height: 2rem;
  list-style: none;
}
.navbar__links ul li {
  /* display: inline-block; */
  float: right;
  height: 2rem;
}
.navbar__links ul li a {
  line-height: 2rem;
}