.user-reviews {
  grid-column: 1 / 3;
  padding-top: 3rem;
  padding-left: 2rem;
}
.user-reviews h2 {
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
  padding-top: 4rem;
}
.user-reviews > p {
  line-height: 2rem;
  font-weight: 600;
  font-size: 1rem;
}
.user-reviews ion-icon {
  font-size: 2rem;
}
.user-reviews__new-user-review {
}
.user-reviews__new {
  display: grid;
  justify-items: center;
}
.user-reviews__list {
}
.user-review {
  display: grid;
  grid-template-columns: 8rem auto;
  align-items: center;
  border-bottom: 1px solid #D3D3D3;
  padding: 2.5rem;
}
.user-review__user {
}
.user-review__user p {
  text-align: center;
}
.user-review__avatar {
  background: red;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: white;
  font-size: 1.5rem;
  margin: auto auto;
}
.user-review__review {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 2rem 2rem 3rem;
  
}
.user-review__review p {
  margin: 0;
  
}
.user-review__rating {
  font-size: 1.5rem;
}
.user-review__date {
}
.user-review__title {
  grid-column: 1 / 3;
  font-size: 1.2rem;
  font-weight: bold;
}
.user-review__body {
  grid-column: 1 / 3;
}
