#log-in-link-container {
  /* margin: 5px auto; */
  width: 100%;
}

#log-in-link {
  margin: 5px auto;
}
.sign-up-container {
  border: 2px solid black;
  border-radius: 7px;
  margin: 30px auto 0px auto;
  width: 500px;
  background-color: #eaedf4;
}

.sign-up {
  margin: 5px 5%;
}

input {
  /* background-color: #eaedf4; */
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* margin: 5px auto; */
  padding: 2px 12px 2px 24px;
  margin: 5px 0px;
  width: 100%;
  border-radius: 6px;
  font-size: 20px;
}

#sign-up-button {
  font-size: 20px;
  background-color: green;
  border: none;
  border-radius: 6px;
  box-shadow: none;
  color: white;
  margin: 10px 0px;
  padding: 3px 0px;
  text-decoration: none;
  width: 100%;
}
