
#sign-up-button {

}

.sign-up-container {
    border: 2px solid black;
    border-radius: 5px;
    width: 500px;
}



input {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 0px auto;
    padding: 2px 6px;
    
}