body {
  background-image: url("../images/restaurant-blue.jpg");
  background-size: 100% 120%;
  background-repeat: no-repeat;
}

.full-container {
  display: flex;
  /* margin: auto 0px auto 0px; */
  height: 100%;
  vertical-align: auto;
}

.half-container {
  margin: auto 0px auto 0px;
  width: 55%;
  /* height: 100%; */
}

.half-container + .half-container {
  /* background-color: rgb(82, 140, 177); */
  /* border-left: 5px solid white; */
  width: 45%;
}

.content-container {
  margin: 0px auto;
  height: 100%;
  width: 80%;
  /* width: 500px; */
}

.h2-header {
  font: 30pt "Kufam Regular";
  color: white;
  letter-spacing: 3px;
  margin: auto;
}

#link-container-sign-up {
  border-bottom: hidden;
}

.link-container {
  /* margin: 5px auto; */
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  display: flex;
  justify-content: space-around;
  padding: 10px 0px 10px 0px;
  /* width: 500px; */
}

#log-in-link,
#sign-up-link {
  font: bold;
  text-align: center;
  width: 50%;
}

.link-container,
.sign-up-container {
  background-color: whitesmoke;
  margin: 60px auto 0px auto;
  /* width: 500px; */
}
.sign-up-container {
  border: 2px solid black;
  border-top: hidden;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin: 0px auto 0px auto;
  width: 500px;
  background-color: #eaedf4;
}

.sign-up {
  margin: 5px 5%;
  /* background-color: #eaedf4; */
  padding: 10px;
}

.link-container {
  border: 2px solid black;
  /* border-bottom: hidden; */
  /* padding: auto 0px; */
  width: 50%;
}

.testing-container {
  display: flex;
  font: 14pt "Kufam Black";
  margin: 0px auto 0px auto;
  width: 500px;
}

#sign-up-link {
  /* border: 2px solid black; */
  /* border-bottom: hidden; */
  margin-right: 10px;
}

input {
  /* background-color: rgb(90, 90, 185); */
  color: rgb(110, 107, 107);
  font: 14pt "Kufam Regular";
  /* margin: 5px auto; */
  padding: 2px 12px 2px 24px;
  margin: 5px 0px;
  width: 100%;
  border-radius: 6px;
  font-size: 20px;
}

#sign-up-button {
  font: 20px "Kufam Black";
  background-color: rgb(92 96 224);
  border: none;
  border-radius: 6px;
  box-shadow: none;
  color: white;
  margin: 10px 0px;
  padding: 3px 0px;
  text-decoration: none;
  width: 100%;
}
