@keyframes submitting-icon-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

html,
body,
main {
  height: 100%;
}
body {
  background-color: rgb(31, 49, 70);
  background-size: cover;
  overflow: hidden;
}
.page {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  top: 4rem;
  right: 0;
  bottom: 3rem;
  left: 0;
}
.page__awaiting--hide,
.page__awaiting--show {
  background-color: #ffffff;
  position: absolute;
  z-index: 300;
  top: -6rem;
  right: 0px;
  bottom: 0px;
  left: -6rem;
}
.page__awaiting--hide {
  display: none;
}
.page__awaiting--show {
  display: block;
}
.page__awaiting-spinner {
  animation: submitting-icon-rotation 0.5s infinite linear;
  background-image: url("/images/spinner_96x96.svg");
  /* border-radius: 50%; */
  position: absolute;
  height: 6rem;
  width: 6rem;
  z-index: 304;
  top: 50%;
  left: 50%;
}
.page-content {
  min-height: 100vh;
  padding-bottom: 2rem;
}
.page-width {
  width: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}
@media screen and (min-width: 640px) {
  .page-width {
    margin-left: auto;
    margin-right: auto;
    width: 560px;
  }
}
@media screen and (min-width: 800px) {
  .page-width {
    width: 720px;
  }
}
@media screen and (min-width: 1020px) {
  .page-width {
    width: 940px;
  }
}
@media screen and (min-width: 1340px) {
  .page-width {
    width: 1260px;
  }
}
input {
  border: 1px solid #bbbbbb;
  border-radius: 0.25rem;
  height: 3rem;
  margin-top: 0.5rem;
  padding: 0 0.75rem;
  width: 100%;
}
button {
  background-color: #00b7ff;
  border: none;
  color: #ffffff;
  font-size: 1.125rem;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
}

button:hover {
  background-color: #0479a7;
}
