.spot-review__parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  margin: auto;
}

.spot-review__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    border: 2px solid #555555;
    border-radius: 15px;
    background-color: rgba(244, 241, 234);
}

.spot-review__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
