.spot-page {
  background-color: rgb(245, 245, 245);
}
.spot-page h1 {
  color: #777777;
  margin: 4rem 0;
  text-align: center;
}
.spot-detail {
  display: grid;
  grid-template-columns: 480px auto;
}
.spot-detail img {
  border: 1px solid #333333;
  border-radius: 0.25rem;
  width: 480px;
  height: 480px;
  object-fit: cover;
}
.spot-detail__describe {
  display: grid;
  padding-left: 2rem;
  grid-template-rows: 3rem 3rem auto;
}
.spot-detail__type {
  color: #777777;
  height: 1.5rem;
}
.spot-detail__description {
  margin: 2rem 0;
  line-height: 2.5rem;
  font-size: 1.75rem;
}
.spot-detail__describe button {
  height: 3rem;
  margin-right: 1rem;
  border-radius: 0.25rem;
}
.spot-detail__rating {
  float: left;
  background-color: #aeaeae;
  height: 100%;
  margin-left: -0.5rem;
  width: 14rem;
  position: relative;
  z-index: 100;
}
.spot-detail__rating-fill {
  position: absolute;
  z-index: 101;
  top: 0px;
  right: 8px;
  bottom: 0px;
  left: 10px;
}
.spot-detail__rating-mask {
  position: absolute;
  height: 3.5rem;
  background-size: cover;
  background-image: url("/images/rating_stars_horizontal_FFFFFF.svg");
  filter: invert(0%) sepia(60%) saturate(0%) hue-rotate(86deg) brightness(88%)
    contrast(123%);
  fill: #f5f5f5;
  background-position: center;
  z-index: 102;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
