html {
  color: #333333;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
h1, h2, h3 {
  font-family: "Kufam Regular", Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -.1rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
h3 {
  font-size: 1rem;
  font-weight: 600;
}
input {
  font-size: 1.125rem;
  font-weight: 600;
}
label {
  letter-spacing: .025rem;
}
a {
  text-decoration: none;
}